{% extends 'flatpages/default.html'%}

{% block content %}
    <p> Усовершенствовать ваш новостной портал. Добавить постраничный вывод и отдельную страницу с поиском <a href="/news/search">/search/</a>, чтобы пользователь мог сортировать новости по дате и имени автора.</p>

<p> Необходимо иметь возможность создавать новые новости и статьи не только из админки, но и в самом приложении.<p/>
<ul>Для такой возможности необходимо создать модельные формы.
    <li>Необходимо добавить на сайт с помощью дженериков <a href="/news/add/">новые страницы</a>,</li>
    <li>а также <a href="/news/1/edit/">На этих страницах пользователь может добавить или редактировать новости.</a></li>
    <li>Добавьте <a href="/news/1/delete/"> страницу удаления новостей </a>. На ней после подтверждения пользователь может удалить страницу с новостью.</li>
{% endblock content %}